<div class="adicionar">
    <p-button icon="pi pi-plus" pTooltip="Cadastrar novo produto" styleClass="p-button-rounded" (onClick)="criarNovoProduto()"></p-button>
</div>
<div class="flex">
    <p-card class="card" header=" {{produto.nome}}" subheader="Preço: {{produto.preco | currency: 'BRL'}}" *ngFor=" let produto of produtos">
        <ng-template pTemplate="header">
            <img class="img" alt="Card" src="{{produto.imagemUrl}}" />
        </ng-template>
        <p>Decrição: {{produto.descricao}}</p>
        <p>Quantidade: {{produto.estoque}}</p>
        <p-button label="Editar" (click)="editarProduto(produto)"></p-button>
    </p-card>
</div>